{% extends 'parc/base.html' %}

{% block content %}
<h1>Test AdminLTE</h1>
<div class="small-box bg-info">
  <div class="inner">
    <h3>15</h3>
    <p>Places occupées</p>
  </div>
</div>
{% endblock %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1 style="text-align: center;">Accueil</h1>
    <h2 style="text-align: center; font-family: 'Times New Roman'; color: #3700ff; font-style: italic;">Bienvenue sur le site de gestion du parking de UCB.</h2>
    <ul>
        <li><a href="{% url 'vehicule_liste' %}" style="text-decoration: underline; font-size: 20px;">Gestion des véhicules</a></li>
        <li><a href="{% url 'personnel_liste' %}" style="text-decoration: underline; font-size: 20px;">Gestion du personnel</a></li>
        <li><a href="{% url 'zone_liste' %}" style="text-decoration: underline; font-size: 20px;">Gestion des zones</a></li>
    </ul>
</body>
</html>